<div class="border">
  <div class="content">
    <div class="item">
      <label class="form-control" for="from" style="text-align: left">Откуда:</label>
      <input class="form-control" type="text" id="from"/>
    </div>
    <div class="item">
      <label class="form-control" for="to" style="text-align: left">Куда:</label>
      <input class="form-control" type="text" id="to"/>
    </div>
    <div class="item">
      <label class="form-control" for="class" style="text-align: left">Класс ТС:</label>
      <input class="form-control" type="text" id="class"/>
    </div>
    <button type="button" class="btn btn-info form-control" id="btn">Заказать</button>
  </div>
</div>
