<div class="order-form">
  <div class="order-form-row">
    <input type="text" placeholder="Откуда" :value="from_pad === null ? '' : from_pad.name">
  </div>
  <div class="order-form-row">
    <input type="text" placeholder="Куда" :value="to_pad === null ? '' : to_pad.name">
  </div>
  <div class="order-form-row">
    <input type="text" placeholder="Класс ЛА" v-model="aircraft_class">
  </div>
  <div class="order-form-row">
    <button type="button" class="order-button" @click="order">Заказать</button>
  </div>
</div>
