.order-form {
  width: 290px;

  .order-form-row {
    position: relative;
    margin-bottom: 10px;

    input {
      width: 100%;
      padding: .3em .6em;
      border: 2px solid var(--primary);
      outline: none;
      font-size: 1.1em;
      transition: all .3s;
      color: #222;

      &:focus {
        border-color: var(--primary-active);
      }

      &::placeholder {
        font-size: .8em;
      }
    }

    .clear-button {
      position: absolute;
      top: 7px;
      right: 7px;
      cursor: pointer;
    }

    button.order-button {
      width: 100%;
      background: var(--primary);
      padding: 0.8em .4em;
      outline: none;
      border: none;
      font-weight: bold;
      font-size: 1.2em;
      transition: all .3s;

      &:hover:not(:disabled) {
        background-color: var(--primary-active);
      }
    }
  }

  .aircraft-class-select {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: .7em;

    .aircraft-class-item {
      color: #6d6d6d;
      background: #fbfbfb;
      position: relative;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 0.6em 0.6em;
      margin: 0.5em;
      cursor: pointer;
      font-weight: bold;
      font-size: 0.9em;
      transition: all .2s;

      &:hover:not(.selected) {
        background: #f7f7f7;
        box-shadow: 0 7px 24px 2px #eaeaea;
        bottom: 1px;
        color: #000;
      }

      &.selected {
        color: #000;
        background: var(--primary);
        border-color: transparent;
      }
    }
  }
}
