.order-info {
  background: #fff;
  padding: 0.7em .3em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price {
  font-weight: bold;
  font-size: 1.6em;

  .price-currency {
    font-weight: normal;
  }
}
