#map {
  width: 100vw;
  height: 100vh;
}

.pad-placemark {
  position: relative;
  transform: translateX(-50%);
  top: 10px;
  display: inline-block;
  font-size: .7em;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

  &::before {
    content: '';
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translate(-50%);
    width: 20px;
    height: 20px;
    background: var(--secondary);
    border-radius: 50%;
  }

  &::after {
    content: '';
    position: absolute;
    top: -19px;
    left: 50%;
    transform: translate(-50%);
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
  }
}
